[Unit]
Description=CWBot daemon
After=network.target

[Service]
Type=simple
ExecStart=/path/to/cwbot/cwbot.py
Restart=always
RestartSec=60
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
